pipeline/ppl_sftp_dtl_newpayroll_param.json
{
	"name": "ppl_sftp_dtl_newpayroll_param",
	"properties": {
		"activities": [
			{
				"name": "Lookup_config",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "ds_npr_config",
						"type": "DatasetReference",
						"parameters": {
							"p_config_file": {
								"value": "@pipeline().parameters.p_config_file",
								"type": "Expression"
							}
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach row in config file",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup_config",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup_config').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "copy from sftp to ntfs",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "BinarySource",
									"storeSettings": {
										"type": "SftpReadSettings",
										"recursive": true,
										"deleteFilesAfterCompletion": true,
										"disableChunking": false
									},
									"formatSettings": {
										"type": "BinaryReadSettings"
									}
								},
								"sink": {
									"type": "BinarySink",
									"storeSettings": {
										"type": "FileServerWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "ds_Sftp_ap_newpayroll_param",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "ds_fs_npr_param",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"p_config_file": {
				"type": "string"
			}
		},
		"annotations": [],
		"lastPublishTime": "2023-04-26T12:54:12Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}